.app__header {
    // position: fixed;
    // top: 0;
    width: 100%;
    z-index: 2;
    // left: 0;
    // right: 0;
    background: #f8f9fc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 50px;

  .app__logo{
    height: inherit;
    overflow: hidden;
    display: flex;
    align-items: center;
      img{
          border-radius: 10px;
          height: 170px;
      }
  }
}
